<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<meta name="viewport" content="width=320, user-scalable=no">-->
		<title>香哈菜谱</title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body>
		<div class="index-header">
			<div class="home-title">
				<a href="#">
					<div class="home-back">
						<img src="../../images/index/index.png"/>
					</div>
				</a>
				<a href="#">
					<div class="home-recipe">
						<p>66菜谱</p>
					</div>
				</a>
			</div>
		</div>
		<div class="com-block">
			<section class="nav-block">
				<div class="search-btn">
					<img src="../../images/index/search-img.png"/>
				</div>
				<div class="nav-row">
					<a class="nav-item caipu" href="#">菜谱分类</a>
					<a class="nav-item shipin" href="#">视频</a>
					<a class="nav-item health" href="#">健康养生</a>
					<a class="nav-item quan" href="#">生活圈</a>
				</div>
				<ul class="sancan new-home-pad clear">
					<li class="xh-sancan fl">
						<a href="#" class="dis_block">
							<img src="../../images/index/zaocan.jpg" alt="" />
							<h3>早餐</h3>
						</a>
					</li>
					<li class="xh-sancan fl">
						<a href="#" class="dis_block">
							<img src="../../images/index/wucan.jpg" alt="" />
							<h3>中餐</h3>
						</a>
					</li>
					<li class="xh-sancan fl">
						<a href="#" class="dis_block">
							<img src="../../images/index/wancan.jpg" alt="" />
							<h3>晚餐</h3>
						</a>
					</li>
				</ul>
			</section>
			<section class="con-block write-bg">
				<ul>
					<li class="topic-rec new-home-pad">
						<a href="#" class="dis_block">
							<img src="../../images/index/luobosi.jpg"/>
							<div class="topic-text">
								<h2>惊艳味蕾的胡萝卜</h2>
								<h3>50道菜谱</h3>
							</div>
						</a>
					</li>
					<li class="topic-rec new-home-pad">
						<a href="#" class="dis_block">
							<img src="../../images/index/shuiguo.jpg"/>
							<div class="topic-text">
								<h2>N法征服水果界网红</h2>
								<h3>50道菜谱</h3>
							</div>
						</a>
					</li>
				</ul>
				<div class="video-dish new-home-pad">
					<a href="#">
						<div class="dish-img">
							<img src="../../images/index/zhengyu.jpg"/>
							<img class="videoIcon" src="../../images/index/videoIcon.png"/>
						</div>
						<div class="dish-desc">
							<h3 class="dish-title">清蒸鲈鱼</h3>
							<p>
								<span>372.9万</span>
								<span>1.0万</span>
							</p>
							<div class="dish-author">
								<div class="author-avatar clear">
									<img src="../../images/index/MTUweDE1MA.jpg"/>
								</div>
								<h4 class="right">香哈小秘书</h4>
							</div>
						</div>
					</a>
				</div>
				<ul class="xh-nous">
					<a href="#" class="dis_block">
						<li class="nous new-home-pad">
							<h3 class="nous-title" style="padding-bottom:.1rem;">最正宗可乐鸡翅的做法，你知道吗</h3>
							<p class="nous-con clearfix">可乐鸡翅是中国人餐桌上一道家常菜，味道鲜美，色泽艳丽，鸡翅嫩滑，又保留了可乐的香气，其做法有“简单到没下过厨也会做”之称，深受大众喜爱。今天小编为大家奉上做正宗可乐鸡翅的秘诀，...</p>
							<div class="nous-img" style="border-radius: 3px; max-height: 1.7rem; overflow:hidden"><img src="../../images/index/kelejichi.jpg"></div>
						</li>
					</a>
					<a href="#" class="dis_block">
						<li class="nous new-home-pad">
							<h3 class="nous-title" style="padding-bottom:.1rem;">这道菜让南方人流口水北方人皱眉</h3>
							<p class="nous-con clearfix">北方的粽子都是甜的，而且一般只在端午节吃，所以作为北方人的小编第一次见到肉粽子内心是拒绝的，加上听说很多南方人每天早餐是肉粽子更是震惊。然而一次偶然去南方出差，小编吃到了今天给...</p>
							<div class="nous-img" style="border-radius: 3px; max-height: 1.7rem; overflow:hidden"><img src="../../images/index/zongzi.jpg"></div>
						</li>
					</a>
				</ul>
				<ul class="xh-dish-list">
					<li class="xh-dish new-home-pad">
						<a href="#" class="dis_block">
							<img class="dish-img" src="../../images/index/food1.jpg" alt="" />
							<div class="dish-des">
								<h3 class="dish-title">绣球酥</h3>
								<h4 class="dish-con">喜欢尝试做各种美食，从中得到乐趣！</h4>
								<p>
									<span>昨天</span>
								</p>
								<div class="dish-author">
									<div class="author-avatar clear">
										<img src="../../images/index/touxiang1.jpg"/>
									</div>
									<h4 class="right">小晓的香饽饽</h4>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</section>
		</div>
		<a href="#">
			<img class="to-new-top" src="../../images/index/top.png" />
		</a>
		
		<script type="text/javascript" src="js/rem.js"></script>
		<!--<script type="text/javascript">
			document.documentElement.style.fontSize = "108px";
		</script>-->
	</body>
</html>
